astroid==3.3.8
autopep8==2.3.2
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
cli_helpers==2.3.1
click==8.1.7
colorama==0.4.6
configobj==5.0.9
coverage==7.6.10
delegator.py==0.1.1
dill==0.3.9
distlib==0.3.9
dotenv==0.9.9
Faker==36.1.1
filelock==3.17.0
Flask==3.1.0
idna==3.10
iniconfig==2.0.0
isort==6.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
litecli==1.13.2
MarkupSafe==3.0.2
mccabe==0.7.0
objection==1.11.0
packaging==24.2
pandas==2.2.3
pexpect==4.9.0
platformdirs==4.3.6
pluggy==1.5.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pycodestyle==2.12.1
Pygments==2.18.0
pylint==3.3.4
pytest==8.3.4
pytest-cov==6.0.0
pytest-pylint==0.21.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
semver==2.13.0
setuptools==75.6.0
six==1.17.0
sqlparse==0.5.2
tabulate==0.9.0
tomlkit==0.13.2
tzdata==2025.1
urllib3==2.2.3
virtualenv==20.29.1
wcwidth==0.2.13
websockets==13.1
Werkzeug==3.1.3
